*{
    text-align: center;
}

html{
    background-color: #A3A1AF;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto;
}

h1{
    font-size: 50px;
}

img{
    width: 400xp;
    height: 400px;
    border-radius: 200px;
}

p{
    font-size: 1.8rem;
}